.imageContainer {
  border-radius: 30px;
  flex: 0.8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  .titleContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    padding-bottom: 5px;
    gap: 20px;
  }
}
