.mainContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0px 20px 0px 20px;
  .titleSection {
    padding: 20px;
  }
  .iconSection {
    text-align: center;
  }
  .informationSection {
    padding: 20px;
    border: 1px solid black;
    border-radius: 15px;
  }
  .secondContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 20px;
    .badgeAndFormContainer {
      display: flex;
      flex-direction: column;
      gap: 10px;
      width: 100%;
      .badgeContainer {
        flex: 1;
        text-align: center;
      }
      .formContainer {
        flex: 1;
        text-align: center;
      }
    }
    .traitsContainer {
      width: 100%;
    }
  }
}
