.loginComponentContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: auto;
  width: 60%;
  gap: 20px;
  margin-top: 10px;
  .logo {
    width: 55%;
  }
}
