@font-face {
  font-family: "ToJapan";
  src: url("../../assets/fonts/To_Japan.ttf");
}

* {
  font-family: ToJapan;
}

.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin: auto;
  .textField {
    background-color: #ffeff3;
    width: 100%;
  }
}
.forgotPasswordContainer {
  color: #f784a1;
  transition: all 0.3s ease-in-out;
  &:hover {
    color: #ff95af;
    cursor: pointer;
    transform: scaleX(1.1) scaleY(1.1);
  }
  &:active {
    transform: scaleX(0.9) scaleY(0.9);
  }
}
