@font-face {
  font-family: "ToJapan";
  src: url("../../assets/fonts/To_Japan.ttf");
}

.multifactorContainer {
  margin: auto;
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  font-family: Tka;
  .logo {
    margin: auto;
    margin-top: 20px;
    width: 40%;
    margin-bottom: 20px;
  }
  .formContainer {
    background-color: #f784a173;
    width: 60%;
    display: flex;
    flex-direction: column;
    margin: auto;
    border-radius: 40px;
    .multiFactorSubtitle {
      margin-top: 50px;
      font-family: ToJapan;
      color: #f784a1;
      margin-bottom: 50px;
    }
    .otpContainer {
      margin: auto;
      margin-bottom: 50px;
      padding: 1rem;
      .otpStyles {
        width: 3rem !important;
        height: 3rem !important;
        font-size: 35px;
        border-radius: 40px;
        border: none !important;
        color: #f784a1;
        margin: 4px;
        &:focus {
          outline: none;
        }
      }
      .sparksIcon {
        color: #f784a1;
      }
    }
  }
}
