* {
  margin: 0;
  padding: 0;
}

.backgroundContainer {
  background-image: url("../../assets/imgs/bg_lanies.png");
}

.mainContainer {
  background-color: #fef1df;
  padding-top: 10px;
  min-height: calc(100vh - 10px);
  max-height: 100%;
  width: 70%;
  margin: auto;
  display: flex;
}
