* {
  margin: 0;
  padding: 0;
}

.backgroundContainer {
  background-image: url("../assets/imgs/bg_lanies.png");
}

.mainContainer {
  background-color: #fef1df;
  min-height: 100vh;
  max-height: 100%;
  width: 1200px;
  margin: auto;
}
