.dotLoading {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  .dot {
    border-radius: 50%;
    margin: 0 5px;
    animation: dot 2.5s ease-in-out infinite alternate;
    &:nth-child(1) {
      animation-delay: 0.2s;
    }
    &:nth-child(2) {
      animation-delay: 0.4s;
    }
    &:nth-child(3) {
      animation-delay: 0.6s;
    }
  }
  @keyframes dot {
    0%,
    100% {
      transform: scale(0.2);
    }
    50% {
      transform: scale(1);
    }
  }
}
