.mainContainer {
  .headerContainer {
    padding: 15px;
    display: flex;
    justify-content: space-between;
    .buttonsContainer {
      display: flex;
      flex-direction: row;
    }
  }
  .tableContainer {
    width: 100%;
    height: 700px;
    .tableRows {
      &:hover {
      }
      .tableCell {
        align-items: center;
        justify-content: center;
      }
    }
  }
  .pagination {
    margin-top: 10px;
  }
}
