.checklistContainer {
  padding: 5px;
  font-size: 16px;
  .textContainer {
    display: flex;
    align-items: center;
    margin-top: 10px;
  }
  .headerStyle {
    font-weight: 500 !important;
  }
  .valid {
    color: #72b872;
  }
  .notValid {
    color: #a7728fc0;
  }
  .ml2 {
    margin-left: 10px;
  }
}

.tooltipContainer {
  width: 100%;
}
