.sectionComponentContainer {
  margin-top: 10px;
  border-radius: 30px;
  width: auto;
  padding: 10px;
  height: auto;
  display: flex;
  flex-direction: column;
  .sectionHeader {
    flex: 0.2;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 5px;
  }
  .sectionContent {
    flex: 0.8;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: start;
    gap: 33.33%;
    padding: 20px;
  }
}

.sectionField {
  margin-bottom: 20px;
  .label {
    font-weight: normal;
    font-size: 0.7rem;
    padding-bottom: 5px;
    letter-spacing: 0.2rem;
  }
  .value {
    font-family: sans-serif !important;
    font-size: 1.5rem;
  }
}
